<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"/>
    <style>
        .demo-table-expand {
            font-size: 0;
        }

        .demo-table-expand label {
            width: 90px;
            color: #99a9bf;
        }

        .demo-table-expand .el-form-item {
            margin-right: 0;
            margin-bottom: 0;
            width: 50%;
        }
    </style>
</head>
<body>
<div id="app" style="float: left;width: 100%;">
    <button @click="addModel" style="height: 40px;">新增</button>
    <template>
        <el-dialog title="新增" :visible.sync="addVisible"
                   width="50%">
            <el-form ref="form" :model="newTable" label-width="80px">
                <el-form-item label="表名">
                    <el-input v-model="newTable.name"></el-input>
                </el-form-item>
                <el-form-item
                        v-for="(field, index) in newTable.fields"
                        :label="'字段' + index+1"
                        :prop="'fields.' + index + '.name'">
                    <!--:rules="{required: true, message: '字段不能为空', trigger: 'blur'}"-->

                    <el-input v-model="field.name" placeholder="字段名"></el-input>
                    <el-select v-model="field.type" placeholder="请选择字段类型">
                        <el-option
                                v-for="item in options"
                                :key="item.value"
                                :label="item.name"
                                :value="item.value">
                        </el-option>
                    </el-select>
                    <el-input v-model="field.valueStyle" placeholder="字段形式"></el-input>
                    <el-button @click.prevent="removeField(newTable, field)">删除
                    </el-button>
                </el-form-item>
                <el-form-item>
                    <el-button @click="addField(newTable)">新增字段</el-button>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="addTable">立即创建</el-button>
                    <el-button @click="addVisible = false">取消</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>
        <el-table :data="tableData" style="width: 100%">
            <el-table-column type="expand">
                <template slot-scope="scope">
                    <el-form label-position="left" inline class="demo-table-expand">
                        <el-form-item v-for="(field,index) in scope.row.fields" :label="'字段名：'+field.name">
                            <span>类型：{{ field.type }} 样式：{{ field.valueStyle }}</span>
                        </el-form-item>
                    </el-form>
                </template>
            </el-table-column>
            <el-table-column label="表名" width="180">
                <template slot-scope="scope">
                    <span style="margin-left: 10px">{{ scope.row.name }}</span>
                </template>
            </el-table-column>
            <el-table-column label="操作">
                <template slot-scope="scope">
                    <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                    <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-dialog title="编辑" :visible.sync="dialogVisible"
                   width="50%" :before-close="handleClose">
            <el-form ref="form" :model="table" label-width="80px">
                <el-form-item label="表名">
                    <el-input v-model="table.name"></el-input>
                </el-form-item>
                <el-form-item
                        v-for="(field, index) in table.fields"
                        :label="'字段' + index"
                        :prop="'fields.' + index + '.name'">
                    <!--:rules="{required: true, message: '字段不能为空', trigger: 'blur'}"-->

                    <el-input v-model="field.name" placeholder="字段名"></el-input>
                    <el-select v-model="field.type" placeholder="请选择字段类型">
                        <el-option
                                v-for="(item, index) in options"
                                :key="item.value"
                                :label="item.name"
                                :value="item.value">
                        </el-option>
                    </el-select>
                    <el-input v-model="field.valueStyle" placeholder="字段形式"></el-input>
                    <el-button @click.prevent="removeField(table, field)">删除
                    </el-button>
                </el-form-item>
                <el-form-item>
                    <el-button @click="addField(table)">新增字段</el-button>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSubmit">确认编辑</el-button>
                    <el-button @click="dialogVisible = false">取消</el-button>
                </el-form-item>

            </el-form>

        </el-dialog>
    </template>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="/js/common/jquery-2.1.3.min.js"></script>
<script>

    var app = new Vue({
        el: "#app",
        data: {
            tableData: [],
            addVisible: false,
            dialogVisible: false,
            table: {},
            newTable: {name: '', fields: []},
            options: [
                {name: '整型', value: 'int'},
                {name: '字符串', value: 'varchar'}
            ]
        },
        created: function () {
            this.init();
        },
        methods: {
            init() {
                $.ajaxSetup({type: "GET", dataType: "JSON"});
                $.ajax({
                    url: "/zy/3/tables",
                    success: function (ret) {
                        app.tableData = ret.message;
                    }
                });
            },
            handleClose(done) {
                done();
            },
            onSubmit() {
                $.ajaxSetup({
                    type: "PUT", contentType: "application/json; charset=utf-8",
                    dataType: "JSON"
                });
                $.ajax({
                    url: "/zy/3/tables",
                    data: JSON.stringify(this.table),
                    success: function () {
                        location.reload();
                    }
                });

            },
            handleEdit(index, row) {
                this.table = JSON.parse(JSON.stringify(row));
                this.dialogVisible = true;
            },
            handleDelete(index, row) {
                $.ajaxSetup({
                    type: "DELETE",
                    dataType: "JSON"
                });
                $.ajax({
                    url: "/zy/3/tables/" + row.id,
                    success: function () {
                        location.reload();
                    }
                });
            },
            addTable() {
                $.ajaxSetup({type: "POST", contentType: "application/json; charset=utf-8", dataType: "JSON"});
                $.ajax({
                    url: "/zy/3/tables",
                    data: JSON.stringify(this.newTable),
                    error: function () {
                    },
                    success: function (ret) {
                        location.reload();
                    }
                });
            },
            addModel() {
                this.addVisible = true;
            },
            addField(table) {
                table.fields.push({
                    name: '',
                    type: 'int'
                });
            },
            removeField(table, item) {
                var index = table.fields.indexOf(item)
                if (index !== -1) {
                    table.fields.splice(index, 1)
                }
            }
        }
    })
</script>
</html>